In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np
import math

In [11]:
def convert_to_grams(row):
    if row['Unit'] == 'mg':
        return row['Amount'] / 1000
    elif row['Unit'] == 'mcg':
        return row['Amount'] / 1000000
    elif row['Unit'] == 'g':
        return row['Amount']
    else:
        return 0

In [12]:
first_day = pd.read_csv("../../NHANES/NHANES Original/CSV/firstDay.csv")
first_day = first_day[first_day["DRABF"] != 1]
second_day = pd.read_csv("../../NHANES/NHANES Original/CSV/secondDay.csv")
second_day = second_day[second_day["DRABF"] != 1]

In [13]:
first_day = set(first_day["DR1IFDCD"].tolist())
second_day = set(second_day["DR2IFDCD"].tolist())

both_days = list(first_day) + list(second_day)
len(set(both_days))

4968

In [14]:
FNDDS_df = pd.read_csv('../CSVs/FNDDS.csv')
Flavonoids_df = pd.read_csv('../CSVs/Flavonoids.csv')

FNDDS_and_Flavs = pd.concat([FNDDS_df, Flavonoids_df],ignore_index=True)
NHANES_df = FNDDS_and_Flavs[FNDDS_and_Flavs["Food Index"].isin(both_days)]
NHANES_df

,Food Index,Nutrient Index,From,To,Amount,Nutrient,Nutrient Code,Unit,Decimal Places,Food,Nutrient Category
65,11100000,203,01/01/2009,12/31/2010,3.28,Protein,PROCNT,g,2,"~Milk, NFS~",NaN
66,11100000,204,01/01/2009,12/31/2010,1.91,Total Fat,FAT,g,2,"~Milk, NFS~",NaN
67,11100000,205,01/01/2009,12/31/2010,4.85,Carbohydrate,CHOCDF,g,2,"~Milk, NFS~",NaN
68,11100000,208,01/01/2009,12/31/2010,50.00,Energy,ENERC_KCAL,kcal,0,"~Milk, NFS~",NaN
69,11100000,221,01/01/2009,12/31/2010,0.00,Alcohol,ALC,g,1,"~Milk, NFS~",NaN
...,...,...,...,...,...,...,...,...,...,...,...
740541,94300100,7300,01/01/2007,12/31/2010,0.00,Total flavan-3-ols,,mg,2,NaN,Flavan-3-ols
740542,94300100,7400,01/01/2007,12/31/2010,0.00,Total flavanones,,mg,2,NaN,Flavanones
740543,94300100,7500,01/01/2007,12/31/2010,0.00,Total flavones,,mg,2,NaN,Flavones
740544,94300100,7600,01/01/2007,12/31/2010,0.00,Total flavonols,,mg,2,NaN,Flavonols
740545,94300100,7700,01/01/2007,12/31/2010,0.00,Total isoflavones,,mg,2,NaN,Isoflavones

In [15]:
NHANES_df['Amount'] = NHANES_df.apply(convert_to_grams, axis = 1)
NHANES_df

C:\Users\Rahul\AppData\Local\Temp\ipykernel_10672\1601691675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NHANES_df['Amount'] = NHANES_df.apply(convert_to_grams, axis = 1)

,Food Index,Nutrient Index,From,To,Amount,Nutrient,Nutrient Code,Unit,Decimal Places,Food,Nutrient Category
65,11100000,203,01/01/2009,12/31/2010,3.28,Protein,PROCNT,g,2,"~Milk, NFS~",NaN
66,11100000,204,01/01/2009,12/31/2010,1.91,Total Fat,FAT,g,2,"~Milk, NFS~",NaN
67,11100000,205,01/01/2009,12/31/2010,4.85,Carbohydrate,CHOCDF,g,2,"~Milk, NFS~",NaN
68,11100000,208,01/01/2009,12/31/2010,0.00,Energy,ENERC_KCAL,kcal,0,"~Milk, NFS~",NaN
69,11100000,221,01/01/2009,12/31/2010,0.00,Alcohol,ALC,g,1,"~Milk, NFS~",NaN
...,...,...,...,...,...,...,...,...,...,...,...
740541,94300100,7300,01/01/2007,12/31/2010,0.00,Total flavan-3-ols,,mg,2,NaN,Flavan-3-ols
740542,94300100,7400,01/01/2007,12/31/2010,0.00,Total flavanones,,mg,2,NaN,Flavanones
740543,94300100,7500,01/01/2007,12/31/2010,0.00,Total flavones,,mg,2,NaN,Flavones
740544,94300100,7600,01/01/2007,12/31/2010,0.00,Total flavonols,,mg,2,NaN,Flavonols
740545,94300100,7700,01/01/2007,12/31/2010,0.00,Total isoflavones,,mg,2,NaN,Isoflavones

In [16]:
NHANES_df = NHANES_df[NHANES_df.Amount !=0]
NHANES_df

,Food Index,Nutrient Index,From,To,Amount,Nutrient,Nutrient Code,Unit,Decimal Places,Food,Nutrient Category
65,11100000,203,01/01/2009,12/31/2010,3.28000,Protein,PROCNT,g,2,"~Milk, NFS~",NaN
66,11100000,204,01/01/2009,12/31/2010,1.91000,Total Fat,FAT,g,2,"~Milk, NFS~",NaN
67,11100000,205,01/01/2009,12/31/2010,4.85000,Carbohydrate,CHOCDF,g,2,"~Milk, NFS~",NaN
70,11100000,255,01/01/2009,12/31/2010,89.25000,Water,WATER,g,2,"~Milk, NFS~",NaN
73,11100000,269,01/01/2009,12/31/2010,5.08000,"Sugars, total",SUGAR,g,2,"~Milk, NFS~",NaN
...,...,...,...,...,...,...,...,...,...,...,...
740206,93504100,7100,01/01/2007,12/31/2010,0.01549,Total anthocyanidins,,mg,2,NaN,Anthocyanidins
740207,93504100,7200,01/01/2007,12/31/2010,0.00613,Total catechins (monomeric flavan-3-ols only),,mg,2,NaN,Flavan-3-ols
740208,93504100,7300,01/01/2007,12/31/2010,0.00613,Total flavan-3-ols,,mg,2,NaN,Flavan-3-ols
740209,93504100,7400,01/01/2007,12/31/2010,0.00116,Total flavanones,,mg,2,NaN,Flavanones
740211,93504100,7600,01/01/2007,12/31/2010,0.00075,Total flavonols,,mg,2,NaN,Flavonols